name: Fuzz Testing

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  echidna:
    name: Echidna
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        testName:
          - TickBitmapEchidnaTest
          - TickMathEchidnaTest
          - SqrtPriceMathEchidnaTest
          - SwapMathEchidnaTest
          - TickEchidnaTest
          - TickOverflowSafetyEchidnaTest
          - OracleEchidnaTest
          - BitMathEchidnaTest
          - LowGasSafeMathEchidnaTest
          - UnsafeMathEchidnaTest
          - FullMathEchidnaTest

    steps:
      - uses: actions/checkout@v2

      - name: Set up node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install node dependencies
        run: yarn install --frozen-lockfile

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install pip3
        run: |
          python -m pip install --upgrade pip

      - name: Install slither
        run: |
          pip3 install slither-analyzer

      - name: Install echidna
        run: |
          sudo wget -O /tmp/echidna.tar.gz https://github.com/crytic/echidna/releases/download/v2.2.0/echidna-2.2.0-Ubuntu-22.04.tar.gz
          sudo tar -xf /tmp/echidna.tar.gz -C /usr/bin
          sudo chmod +x /usr/bin/echidna

      - name: Install solc 0.7.6
        run: |
          solc-select install 0.7.6
          solc-select use 0.7.6

      - name: Run ${{ matrix.testName }}
        run: echidna contracts/core/test/${{ matrix.testName }}.sol --contract ${{ matrix.testName }} --config echidna.config.yml
